
.vs/Gamehax0r/v16/.suo
*.db
*.db-shm
*.opendb
*.txt
*.ipch
*.obj
*.exe
*.recipe
*.log
*.pdb
*.db-wal
*.ilk
*.tlog
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.enc
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.json
