
*.suo
*.db
*.db-shm
*.opendb
*.ipch
*.obj
*.exe
*.recipe
*.log
*.pdb
*.db-wal
*.ilk
*.tlog
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.enc
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.json
src/testidetestlol
FileTable.txt
comp.txt
dist
logs
